body{
    background: white;
}
.text-block{
    width: 1200px;
    background: white;
    margin: 200px auto;
    padding: 15px 25px;
}
.text-block-item{
    width: 30%;
    border-style: groove;
    border-width: 2px;
    border-color: laung;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
    float: left;
    margin: 0 20px;
    height: 600px;
}
.box{
    border: solid;
    border-color: blue;
}
.claer{
    clear: both;
}
h5{
    color: blue;
}
h1{
    font-size: 60px;
}
